.section-resume {
  display: grid;
  grid-template-columns: auto 637px;
  gap: 50px;

  @media (max-width: $screen-lg) {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  &_js {
    display: flex;
    flex-direction: column;
  }

  &__title {
    margin-bottom: 20px;
  }

  &__description {
    max-width: 490px;
  }
}
