.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 26px;

  &__item-wrapper {
    display: flex;
    flex-flow: column-reverse;
  }

  &__input-label,
  &__input {
    transition: all 0.2s;
    touch-action: manipulation;
  }

  &__input {
    border: 0;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 10px;
    -webkit-appearance: none;

    &:focus {
      outline: 0;
      border-bottom: 2px solid #83e80a;
    }

    &:placeholder-shown + label {
      cursor: text;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translate(0, 1.825rem);
    }

    &:focus::-webkit-input-placeholder {
      opacity: 1;
    }

    &:not(:placeholder-shown) + .form__input-label,
    &:focus + .form__input-label {
      transform: translate(0, 0);
      font-size: 14px;
      color: #969595;
    }
  }

  &__input-label {
    padding: 0 2px;
  }

  ::-webkit-input-placeholder {
    opacity: 0;
    transition: inherit;
  }
}
