.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding-top: 26px;

  &_checkbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 60px;
    gap: 36px 10px;
  }

  &_radio {
    display: grid;
    grid-template-columns: max-content minmax(auto, 260px);
    gap: 28px 74px;
  }

  &__fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  &__button {
    width: 150px;
    height: 46px;
    border-radius: 23px;
    grid-column: 2/3;
    background-color: #000000;
    color: #83e80a;
    font-size: 20px;
  }
}
